* {
	font-family: arial, TelefonicaThin, sans-serif, helvetica;
}

/* ENCABEZADO */
.cabecera{
	text-align: center;
	margin-top: 20px;
}

.logo {
	width: 160px;
	border-radius: 10px;
}

.contenedorLinea{
	display: flex;
	align-items: center;
}

.linea{
	width: 100%;
	border: 2px solid black;
	border-radius: 15px;
}

/*TITULO*/
.contTitulo{
	text-align: center;
}

/*
.titulo{
	border: 2px solid #eeff41;
}
*/

.titulo {
    border: 2px solid #16134e;
    /* background-color: #511fa6; */
    color: #581fb1;
    border-radius: 10px;
    /* background: linear-gradient(to bottom right, #4E2394 48%, #FF56EE 100%); */
}

/* INPUT */
.txt{
	text-align: center;
	border-radius: 0px;
	padding: 15px;
	border-color:#69699b;
	border-radius: 5px;
}

.txt:focus{
	border-color:#69699b;
}

/* BOTONES */
.contBtnLog{
	text-align: right;
}

.contBtnReg{
	text-align: center;
}

/* .btn{
	background-color: #eeff41;
	border-radius: 0px;
	padding: 10px 15px;
	width: 160px;
} */

.btn {
    background: radial-gradient(circle, #6422c3, #111246);
    border-radius: 10px;
    padding: 10px 15px;
    width: 100%;
    color: white;
}

.btnAnadir{
	background: radial-gradient(circle, #6422c3, #111246);
    border-radius: 10px;
    padding: 10px 15px;
    /*width: 100%;*/
    color: white;
	text-decoration: none;
}

/* .btn:hover{
	background-color: #111246;
	color:white;
} */

.btn:hover, .btnAnadir:hover{
	background: radial-gradient(circle, #111246, #111246);
	color:white;
}



#btnL{
	font-weight: bold;
}

.enlaceBarra{
	color: white;
	text-decoration: none;
}

.enlaceBarra:hover{
	text-decoration: underline;
}

.btnRegistro{
	border: 1px solid #4e2394;
	border-radius: 5px;
	padding: 5px 10px;
	text-decoration: none;
	color: black;
	letter-spacing: 1px;
}

.btnRegistro:hover{
	box-shadow: 3px 4px #a43cc0;
	letter-spacing: 1px;
}


/* ERRORES */
.error{
    /* da estilo a la lista que contiene el error */
    color: #dc3545;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}


/* BARRA */
.subarra{
	width: auto;
}

.contenedorBarra{
	height: 100%;
	display: flex;
	align-items: center;
}

.barraNavegacion{
	padding: 0px;
}

.barra{
	height: 140px;
	display: flex;
	justify-content: space-between;
	/* border-bottom: 1px solid black; */
	background: linear-gradient(to bottom right, #4E2394 48%, #FF56EE 100%);
}

.logoB {
	max-width: none;
	width: 140px;
}

.desplegable {
    margin-right: 15px;
    display: flex;
    text-align: center;
    align-items: center;
	justify-content: end;
}

/* RESUMEN DIARIO */
.registros{
	background-color: #9400d314;
    padding: 10px 10px 1px 10px;
    color: black;
	border-radius: 10px;
}

.registro{
	padding: 15px;
	text-align: center;
    /* color: grey; */
	border: 1px solid #69699b;
	border-radius: 5px;
}

.btnN{
	font-weight: bold;
}

.alert-warning{
	background-color: #581fb1;
	border:2px solid #FFE484;
	color: #FFE484;
}

.tamanioEnlaces{
	font-size: 21px;
}


/*NUEVA ACTIVIDAD*/
.select{
	width: 100%;
	padding: 15px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #69699b;
}

.contenerImagenes {
    position: relative;
    display: inline-block; /* Para que el contenedor ajuste su tamaño al de la imagen */
}

.texto-emergente {
    position: absolute;
    top: 100%; /* Coloca el texto emergente debajo de la imagen */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Centra horizontalmente */
    background-color: rgba(0, 0, 0, 0.8); /* Color de fondo */
    color: white; /* Color del texto */
    padding: 5px 10px; /* Espaciado interior */
    border-radius: 5px; /* Bordes redondeados */
    opacity: 0; /* Por defecto, el texto está oculto */
    transition: opacity 0.3s; /* Efecto de transición */
}

.contenerImagenes:hover .texto-emergente {
    opacity: 1; /* Muestra el texto emergente al hacer hover sobre el contenedor */
}

.imagenes:hover{
	cursor: pointer;
}

/*PERFIL*/
.tituloPerfil{
	border-bottom: 1px solid black;
	padding: 5px;
}

.contenedorRegistros{
	padding-top: 2em;
	padding-bottom: 2em;
	background-color: white;
}

/*ADMIN*/
.imgEstado{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.registros2{
	background-color: #9400d314;
    padding: 10px 10px 10px 10px;
    color: black;
	border-radius: 10px;
}

.bienvenida{
	text-align: center;
	width: 64%;
}

.estiloLetra{
	letter-spacing: 2px;
	color: white;
	margin: 0px;
}

/* Gráfico */
#txtTipoGrafico{
	background: radial-gradient(circle, #111246, #111246);
    padding: 10px 15px;
    color: white;
	text-decoration: none;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}


/* Estilo para dispositivos móviles */
@media only screen and (max-width: 768px) {
	.desplegable {
	  /* Estilos específicos para móviles */
	  display: flex;
	  text-align: center;
	  align-items: center;
	  justify-content:left;
	  margin-bottom: 5px;
	}

	.tamanioDesplegable{
		height: 15px;
	}

	.tamanioEnlaces{
		font-size: 16px;
		margin-top: 5px;
	}

	.imgMedia{
		width: 60px;
	}
  }
